.header {
    margin-bottom: 150px;
    background-color: green;
}

body {
    background-color: blue;
}

.form {
    text-align: center;
    margin-top: 150px;
}

.kereses {
    text-align: right;
    padding-right: 65px;
    margin-left: 745px;
}

.footer{
    margin-bottom: 150px;
    background-color: green;
}